# Eclipse
.classpath
.project

# VSCode
.vscode
.vscode/*

# Old School-Related files
instructorFeedback.pdf
"KeyFinder Design Document.pdf"
school_related
school_related/*

# Old Code Backups
src/1-OXPS
src/1-OXPS/*
